.user-info{
  color: #1e2f65cc;
}

.form-group .form-control:valid{
  border-color: #efefef !important;
  padding-right: inherit !important;
  background-image: none !important;
}

.invalid-backEnd{
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}