<div class="knowledgebase-bg b-center bg-size" style="background-image: url('assets/images/knowledgebase/bg_1.jpg'); background-size: cover; background-position: center center; display: block;">
  <img class="bg-img-cover bg-center" src="assets/images/knowledgebase/bg_1.jpg" alt="looginpage" style="display: none;">
</div>
<div class="knowledgebase-search">
  <div>
    <h2>Hello, {{userName}}!</h2>
      <div class="form-inline card-body">
        <div class="media faq-widgets pt-3 mt-1">
          <div class="media-body">
            <h4>Quote</h4>
            <p class="">{{quote}}</p>
          </div>
          <app-feather-icon icon="book-open"></app-feather-icon>
        </div>
      </div>
  </div>
</div>