<app-breadcrumb [title]="'Sales Profile'" [user]="'admin'" [items]="['Sales Management']" [active_item]="'Sales'"></app-breadcrumb>
<div class="container-fluid">
   <div class="edit-profile">
     <div class="row">
       <div class="col-xl-4">
           <div class="card">
               <div class="card-header pb-0">
                   <h4 class="card-title mb-0">Sales Details</h4>
               </div>
               <div class="card-body">
                   <form>
                       <div class="row mb-2">
                           <div class="profile-title">
                               <div class="media"><img class="img-70 rounded-circle" alt="" [src]="sales?.profilePic">
                                   <div class="media-body">
                                       <h3 class="mb-1 f-20 txt-primary">{{sales?.salesName}}</h3>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="mb-3">
                           <label class="form-label">Email-Address</label>
                           <h5 class="form-control user-info"> {{sales?.email}} </h5>
                       </div>
                       <div class="mb-3">
                           <label class="form-label">National ID</label>
                           <h5 class="form-control user-info"> {{sales?.nId}} </h5>
                       </div>
                       <div *ngIf="sales?.fName !== undefined && sales?.fName !== null" class="mb-3">
                           <label class="form-label">First Name</label>
                           <h5 class="form-control user-info"> {{sales?.fName}} </h5>
                       </div>
                       <div *ngIf="sales?.lName !== undefined && sales?.lName !== null" class="mb-3">
                           <label class="form-label">Last Name</label>
                           <h5 class="form-control user-info"> {{sales?.lName}} </h5>
                       </div>
                   </form>
               </div>
           </div>
       </div>
       <div class="col-xl-8">
           <form class="card" [formGroup]="editProfile" (ngSubmit)="onSubmit()">
               <div class="card-header pb-0">
                   <h4 class="card-title mb-0">Edit Sales</h4>
               </div>
               <div class="card-body">
                   <div class="row">
                       <div class="col-sm-6 col-md-6">
                           <div class="mb-3">
                               <label class="form-label">User Name</label>
                               <input class="form-control" formControlName="salesName" type="text" placeholder="salesName">
                               <div *ngIf="editProfile?.get('salesName')?.errors && validate" class="invalid-backEnd">Please Enter the admin name.</div>
                               <div *ngIf="errors['salesName']" class="invalid-backEnd">{{errors['salesName']}}</div>
                           </div>
                       </div>
                       <div class="col-sm-6 col-md-4">
                           <div class="mb-3">
                               <label class="form-label">Email address</label>
                               <input class="form-control" formControlName="email" type="email" placeholder="Email" >
                               <div *ngIf="editProfile?.get('email')?.errors && validate" class="invalid-backEnd">Please Enter the email.</div>
                               <div *ngIf="errors['email']" class="invalid-backEnd">{{errors['email']}}</div>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-sm-6 col-md-6">
                           <div class="mb-3">
                               <label class="form-label">First Name</label>
                               <input class="form-control" formControlName="fName" type="text" placeholder="first name">
                               <div *ngIf="editProfile?.get('fName')?.errors && validate" class="invalid-backEnd">Please Enter the admin name.</div>
                               <div *ngIf="errors['fName']" class="invalid-backEnd">{{errors['fName']}}</div>
                           </div>
                       </div>
                       <div class="col-sm-6 col-md-4">
                           <div class="mb-3">
                               <label class="form-label">Last Name</label>
                               <input class="form-control" formControlName="lName" type="text" placeholder="last name" >
                               <div *ngIf="editProfile?.get('lName')?.errors && validate" class="invalid-backEnd">Please Enter the email.</div>
                               <div *ngIf="errors['lName']" class="invalid-backEnd">{{errors['lName']}}</div>
                           </div>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-sm-6 col-md-6">
                           <div class="mb-3">
                               <label class="form-label">National ID</label>
                               <input class="form-control" formControlName="nId" type="text" placeholder="National ID">
                               <div *ngIf="editProfile?.get('nId')?.errors && validate" class="invalid-backEnd">Please Enter the National ID</div>
                               <div *ngIf="errors['nId']" class="invalid-backEnd">{{errors['nId']}}</div>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="card-footer text-end">
                   <button class="btn btn-primary" type="submit">Update Profile</button>
               </div>
           </form>
       </div>
     </div>
   </div>
 </div>