<app-breadcrumb [title]="'All products'" [user]="'sales'" [items]="['Admin Management']" [active_item]="'All products'"></app-breadcrumb>
<div class="container-fluid list-products">
    <div class="row">
        <!-- Individual column searching (text inputs) Starts-->
        <div class="col-sm-12">
            <div class="card">
                <!--         <div class="card-header pb-0">-->
                <!--           <h5>Individual column searching (text inputs) </h5><span></span>-->
                <!--          </div>-->
                <div class="card-body">
                    <div class="table-responsive product-table">
                        <form>
                            <div class="mb-3 row">
                                <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Search:</label>
                                <div class="col-xs-3 col-sm-auto">
                                    <input id="table-complete-search" type="text" class="form-control" placeholder="Search by Product Name" name="searchTerm" [(ngModel)]="paginationState.searchTerm" (change)="getProducts()">
                                </div>
                            </div>
                            <table class="display dataTables_wrapper no-footer table" id="basic-1">
                                <thead>
                                <tr>
                                    <th class="sorting_asc" scope="col" >Image</th>
                                    <th class="sorting_asc" scope="col" >Name</th>
                                    <th class="sorting_asc" scope="col" >Gender</th>
                                    <th class="sorting_asc" scope="col" >Category</th>
                                    <th class="sorting_asc" scope="col" >Stock</th>
                                    <th class="sorting_asc" scope="col" >Price</th>
                                    <th class="sorting_asc" scope="col" >Action</th>
                                </tr>
                                </thead>
                                <tbody *ngIf="products !== undefined">

                                <tr class="odd" *ngFor="let product of products">
                                    <td class="sorting_1"><a [routerLink]="['/sales/product/product-details', product.productId]"><img src="{{product.productImages.length > 0 ? product.productImages[0].imageUrl : ''}}" alt="{{product.productName}}"></a></td>
                                    <td class="sorting_1"><a [routerLink]="['/sales/product/product-details', product.productId]">
                                        <h6>{{product.productName}}</h6></a></td>
                                    <td class="sorting_1">{{product.type}}</td>
                                    <td class="sorting_1">{{product.category}}</td>
                                    <td class="sorting_1">{{product.quantity}}</td>
                                    <td class="sorting_1">{{product.price}}</td>
                                    <td class="sorting_1">
                                        <button class="btn btn-primary btn-xs" type="button" data-original-title="btn btn-danger btn-xs" [routerLink]="['/sales/product/product-details', product.productId]" title="">Edit</button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                            <div class="d-flex justify-content-between p-2">
                                <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="paginationState.pageSize" (change)="getProducts()">
                                    <option [ngValue]="5">5 items per page</option>
                                    <option [ngValue]="10">10 items per page</option>
                                    <option [ngValue]="25">25 items per page</option>
                                    <option [ngValue]="50">50 items per page</option>
                                </select>
                                <ngb-pagination
                                        [collectionSize]="total" [(page)]="paginationState.page" [pageSize]="paginationState.pageSize" (pageChange)="onPageChange($event)" [rotate]="true" [boundaryLinks]="true">
                                </ngb-pagination>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>